*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Gilroy', sans-serif;
    
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #151515;

}
.left-side{
    width: 47%;
    height: 100%;
}
#buttons{
    display: flex;
   
    align-items: center;
    margin-top: 20px;
    
}
#buttons button{
    width: 8vw;
    height: 4vw;
    margin: 2vw 8vw;
    border: none;
    outline: none;
    cursor: pointer;
    background: #695DFF;
    color: #fff;
    font-size: 20px;
    border: 3px solid #514fac;
    border-radius: 30px;
    transition: 0.3s ease;
}
.right-side{
    width: 53%;
    height: 100%;
   
}
.right-side h1{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin: 5vw 0 0 5vw;
}
.right-side h2{
    color: #fff;
    font-size: 28px;
    margin-left: 5vw;
 line-height: 40px;
}
.right-side h3{
    color: #695DFF;
    font-size: 20px;
    margin-left: 5vw;
 line-height: 40px;
 font-weight: 500;
}
.right-side p{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin-left: 5vw;
 line-height: 40px;
}
.right-side #size-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5vw;
    margin-top: 20px;
}
#size-buttons button{
    width: 4vw;
    height: 4vw;
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #695DFF;
    color: #fff;
    font-size: 20px;
    border: 3px solid #514fac;
    border-radius: 50%;
    transition: 0.3s ease;
}
.img-container{
padding: 20px 20px;
}
.img{
 width: 80%;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 12px 0;
  transition: 0.2s ease;
  position: relative;
}
.img img{
    width: 100%;
   height: 100%;
  border-radius: 20px;
}


#footer {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-left: 28vw;
    padding-right: 6vw;
    position: relative;
}

#footer h1 {
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    color: #fff;
   
}

#footer h1::before {
    
    position: absolute;
    font-family: "Silk Serif";
    font-size: 3vw;
    font-weight: 500;
    left: -15%;
    top: 9%;
    color: #fff;
}

#footer h1 i {
    -webkit-text-stroke: 0.1vw #ffffffbe;
    color: transparent;
    font-weight: 500;
    margin-left: 1vw;
    color: #fff;

}

#footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15vw;
    margin-top: 13vh;
    color: #fff;
}

#footer-div .box h5 {
    font-size: 1.1vw;
    font-weight: 500;
    margin-bottom: 3vh;
    color: #fff;
}

#footer-div .box h4 {
    font-size: 1.6vw;
    font-weight: 500;
    color: #fff;
}

#footer-div .box #mail {
    font-size: 1.6vw;
    font-weight: 500;
    text-decoration: underline;
    color: #fff;
}

#footer #footerH3 {
    margin-top: 6vh;
    font-weight: 500;
    color: #fff;
}